p{
  font-family: arial;
  font-size: 16px;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}
input{
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  width: 400px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(80, 79, 79);
}
.b{
  margin-top: 20px;
}
button{
  background-color: rgb(10,102,194);
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 144px;
  padding-right: 144px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 20px;
  border: none;

}